<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-left" ng-click="$ionicGoBack()">
        </button>
    </div>
    <div class="h1 title login-title" >帖子</div>
    <div class="buttons">
        <a class="button login-register" ng-click="addcomment()">
            评论
        </a>
    </div>
</ion-header-bar>
<ion-view>
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <h2 class="dm-nowrap-2">广工大学教六又有人因为考研压力自杀</h2>
                <img class="full-image" src="img/ben.png">
            </div>
            <div class="item item-avatar">
                <img src="img/mike.png">
                <h2>Marty</h2>
                <p>
                    <a href="#" class="subdued">关注：300</a>
                    <a href="#" class="subdued">粉丝：300</a>
                </p>
            </div>
            <div class="item item-body">
                <h2 class="dm-nowrap-2" style="margin: 0px;">详情介绍：</h2>
                <p>高校大学生、广州地区长跑爱好者约500人出席了启动仪式。9时30分环岛长跑挑战赛发令枪响，经过激烈角逐，宋洋洋、赖晓斌、欧秤保分获社会男子组前三名。郭涛、刘照迎、张安雄分获大学生男子组前三名。宋璇、黄静君、周清兰分获女子组前三名。本次比赛由广州市体育局、广东省学生体育艺术联合会、华南师范大学主办，广州市体育竞赛中心、广州大学城体育中心承办，广州大学城管委会、大学城各高校协办。 </p>
            </div>
            <h3>&nbsp;&nbsp;评论：</h3>
            <div>
                <ul class="list">
                    <li style="padding: 0;margin-bottom: .5rem; margin-left:.5rem; position: relative;border-bottom: 1px solid lightgray;">
                        <img src="img/mike.png" style="position: absolute;top: 0px;left: 0px; width: 32px;height: 32px;border-radius: 32px;">
                        <span style="line-height: 32px;left: 50px;top: 0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;匿名网友：这个活动好啊....我一定会参加的....好奇怪啊放到冯绍峰阿斯顿分分发卡飞机；的看法加</span>
                    </li>
                    <li style="padding: 0;margin-bottom: .5rem; margin-left:.5rem; position: relative;border-bottom: 1px solid lightgray;">
                        <img src="img/mike.png" style="position: absolute;top: 0px;left: 0px; width: 32px;height: 32px;border-radius: 32px;">
                        <span style="line-height: 32px;left: 50px;top: 0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;匿名网友：这个活动好啊....我一定会参加的....好奇怪啊放到冯绍峰阿斯顿分分发卡飞机；的看法加</span>
                    </li>
                    <li style="padding: 0;margin-bottom: .5rem; margin-left:.5rem; position: relative;border-bottom: 1px solid lightgray;">
                        <img src="img/mike.png" style="position: absolute;top: 0px;left: 0px; width: 32px;height: 32px;border-radius: 32px;">
                        <span style="line-height: 32px;left: 50px;top: 0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;匿名网友：这个活动好啊....我一定会dfasdffafdfaf参加的....好奇怪啊放到冯绍峰阿斯顿分分发卡飞机；的看法加</span>
                    </li>
                </ul>
            </div>
        </div>

    </ion-content>
</ion-view>
