<ion-header-bar align-title="center" class="bar-stable">
    <div class="h1 title login-title" >我的</div>
</ion-header-bar>
<ion-view>
    <ion-content has-bouncing="true" overflow-scroll="false">
        <ion-list>
            <ion-item class="item-avatar item-icon-right" type="item-text-wrap" href="#/tab/personal">
                <img ng-src="img/mike.png">
                <h2>mike</h2>
                <p>编辑个人资料</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <a class="item item-icon-left" href="#/tab/mypost">
                <i class="icon ion-ios-pricetags-outline"></i>
                我的发帖
                <span class="badge badge-positive">100</span>
            </a>
            <a class="item item-icon-left" href="#/tab/myact">
                <i class="icon ion-android-globe"></i>
                我的活动
                <span class="badge badge-positive">100</span>
            </a>
            <a class="item item-icon-left" href="#/tab/set">
                <i class="icon ion-ios-gear-outline"></i>
                设置
            </a>
        </ion-list>
    </ion-content>
</ion-view>